@tailwind base;
@tailwind components;
@tailwind utilities;

/* ───────────────────────────────────────────── */
/* Base semantic tokens */
/* ───────────────────────────────────────────── */

/* LIGHT MODE colors, if I use any of these constantly initialize them in tailwind.config.js */
:root {
  /* Backgrounds */
  --color-bg: #b5aa9d;
  --color-nav-bg:#443730;
  --color-bg-muted: #f5f5f5;
  --color-bg-inverted: #0a0a0a;

  /* Text */
  --color-text: #171717;
  --color-text-muted: #27963f;
  --color-text-inverted: #ededed;

  /* Borders & outlines */
  --color-border: #e5e5e5;

  /* Brand / actions (you’ll add these later) */
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  /* Status */
  --color-error: #ef4444;
  --color-success: #10b981;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);

  --color-muted: var(--color-text-muted);
  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



/* DARK MODE colors
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #8b0e0e;
    --color-bg-muted: #171717;

    --color-text: #ededed;
    --color-text-muted: #a3a3a3;

    --color-border: #262626;
  }
} */



